@media screen and (max-width: 750px) {
    .interface-pokedex {
        border-left: 5vh solid var(--color-border);
        border-right: 5vh solid var(--color-border);
    }
}
@media screen and (max-width: 600px) {
    #pesquisa ::placeholder {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 500px) {
    .conteudo h2 {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 440px) {
    .pokemons li {
        width: 150px;
    }
    #pesquisa ::placeholder {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 419px) {
    .pokemons li {
        width: 200px;
    }
}

@media screen and (max-height: 1600px) {
    .pokemons li {
        height: 40vh;
    }
}
@media screen and (min-height: 750px) {
    .pokemons li {
        height: 30vh;
    }
}
@media screen and (max-height: 600px) {
    .pokemons li {
        height: 50vh;
    }
}
@media screen and (max-height: 450px) {
    .pokemons li {
        height: 60vh;
    }
}

@media screen and (max-height: 400px) {
    .pokemons li {
        height: 80vh;
    }
}



