:root {
    --color-border: #f24846;
    font-size: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
}
.page-landing {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.top-pokedex {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100vw;
    height: 12vh;
    background-color: var(--color-border);
    align-items: center;
    justify-content: left;
    border-bottom: 2px solid black;
}

.camera {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #3D5AFE;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 1px 3px 1px black;
    margin: 5vh;
}
.reflexo {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: left;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #E3F2FD;
}
.mini-botoes{
    display: flex;
    position: relative;
    flex-direction: row;
    margin-bottom: 4vh;
}
.botao-vermelho {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: 0.5px 0.5px 1px 2px black;
    margin-right: 10px;
}
.botao-amarelo {
    display: flex;
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #FFEB3B;
    box-shadow: 0.5px 0.5px 1px 2px black;
    margin-right: 10px;
}

.botao-verde {
    display: flex;
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #00E676;
    box-shadow: 0.5px 0.5px 1px 2px black;
}
.interface-pokedex {
    display: flex;
    position: relative;
    height: 100%;
    border-left: 10vh solid var(--color-border);
    border-right: 10vh solid var(--color-border);
    background-color: #81D4FA ;
}
.tela {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border-left: 4vh solid #FFFFFF;
    border-top: 4vh solid #FFFFFF;
    border-right: 4vh solid #FFFFFF;
    border-bottom: 10vh solid #FFFFFF;
}
#pesquisa {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 4vh;
    margin-top: 5vh;
    opacity: 0.9;
}
#pesquisa input {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 6vh;
    font-weight: bold;
    text-align: center;
    background-color: #040303;
    color: white;
    border-radius: 50px;

}
#pesquisa :placeholder-shown {
    color: white;
    font-size: 1rem;
    text-align: center; 
    width: 40vw;
    border-radius: 20px;
}
#pesquisa ::placeholder{
    color: white;
}
.conteudo {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 8vh;
    text-align: center;
    width: 70vw;
    
}
.conteudo h2 {
    font-size: 2.3rem;
    font-family: 'Source Serif Pro';
    text-shadow: 2px 2px #00C853;
    font-weight: bold;

}
.pokebola {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.pokebola img {
    width: 70px;
    animation: pokebola 20s linear infinite;
}
@keyframes pokebola {
    0% {
        transform: rotate(0);
        /* animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); */
    }
    50% {

        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(180deg);
    }
}
.link {
    display: flex;
    position: relative;
    justify-content: center;
}
.link a {
    font-size: 1rem;
    color: #ffffff;
    font-family: 'Source Serif Pro';
    font-weight: bold;
    background: black;
    border-radius: 50px;
    padding: 8px;
    transition: 0.8s;
    box-shadow: 1px 0.5px 1px black;
}
.link:hover a {
    font-size: 1.06rem;
}
.som {
    display: flex;
    position: absolute;
    top: 100%;
    left: 80%;
}
.footer-pokedex {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--color-border);
    height: 20vh;
}
.retan {
    display: flex;
    position: relative;
    padding-left: 5vw;
}
.retan img {
    width: 10vh;
}
.joystick {
    display: flex;
    position: relative;
    margin-left: 30vw;
}
.joystick img {
    width: 12vh;
}
